  .ir-autocomplete > input{
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: var(--table-colour); */
    background-color: inherit;
    font-size: 1.1rem;
    color: white;
    /* box-shadow: 0 0 1px 1px #000; */
  }
  
  .ir-autocomplete > *::placeholder {
    color: rgb(192,193,194);
  }
  
  .ir-autocomplete > input:focus{
    /* text-align: center; */
    outline: 1px solid white;
    /* box-shadow: 0 0 1px 1px #000; */
  }
  
  .ir-autocomplete > div {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .ir-autocomplete > div > div:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .selected {
    background-color: lightgray;
  }